.blog {
    position: relative;
}

    .blog-view-all {
        text-align: right;
        position: absolute;
        top: 34px;
        right: 10px;
    }

        .blog-view-all-link {
            text-transform: uppercase;
            color: black;
            text-decoration: none;
            letter-spacing: 0.05em;
        }

        .blog-title{
            margin-bottom: 1em;
            text-align: center;
            font-weight: 300;
            font-size: 36px;
        }


.blog-item {
    border-top: 1px solid #A98F6D;
    padding: 3px;
}


    .blog-item-title {
        margin: 0;
        margin-bottom: 0.5em;
        font-size: 24px;
    }

    .blog-item-image {
        position: static;
        float:left;
        padding-bottom: 50px;
    }

    .blog-item-date {
        text-transform: uppercase;
        font-size: 12px;
    }
 
    .blog-item-excerpt {
        font-size: 18px;
        margin-top: .5em; 
    }

    .blog-item-more { 
        text-transform: uppercase;
        color: black;
        text-decoration: none;
        font-size: 14px;
    }

    /* Add chevrons to links */
    .blog-item-more::after,
    .blog-view-all::after {
        content: "";
        display: inline-block;
        height: .45em;
        width: .45em; 
        margin-left: .5em;
        border: solid #A98F6D;
        border-width: .1em .1em 0 0;
        transform: rotate(45deg) translateY(-.05em);
    }

@media screen and (max-width: 727px){
    .blog-item-image {
        width: 100%;
        height: auto;
    }
    .blog-view-all{
        
        border: solid #A98F6D;
    }
}

@media screen and (min-width: 728px){
    .blog-item {
        overflow: auto;
    }

        .blog-item-title,
        .blog-item-date,
        .blog-item-excerpt,
        .blog-item-more {
            width: calc(100% - 320px);
            float: right;
        }


}

@media screen and (min-width: 1025px){
.blog-title:after {
                content: "";
                display: block;
                width: 150px;
                height: 1px;
                margin: 0 auto 0;
                background-color: #A98F6D;
            }
}



        